{name, "ex_uri"}.
{description, "An URI-handling library application for Erlang"}.
{homepage, "https://github.com/extend/ex_uri"}.
{url, {git, "https://github.com/extend/ex_uri.git", {branch, "master"}}}.
{authors, ["Anthony Ramine <nox@dev-extend.eu>"]}.
{license, "BSD", "LICENSE"}.
{rebar_compatible, true}.
{code_paths, ["ebin", "deps/abnfc/ebin"]}.
